#palito{
    height: 100px;
    width: 25px;
}

#base{
    height: 320px;
    width: 160px;
    border-radius: 10%;
    display: grid;
    align-items: center;
}

.trafficLight{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.glow{
    box-shadow:0 0 25px 8px #19e1f3, inset 0 0 15px #19e1f3;
    animation: blinker 0.5s linear infinite alternate;
}

@keyframes blinker {
    50% {
      opacity: 20%;
    }
  }

#botones{
    margin-top: 300px;
}